/* Main styles */
body
  min-height: 100vh
  background: #f1f1f1 url('assets/map-retro.svg') no-repeat 50% 100% / cover

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50

  overflow: hidden
  width: 100vw
  height: 100vh
  position: relative

#title,
#settings,
#alerts,
.fieldExtraLeft,
.fieldExtraRight
  position: absolute
  background-color: rgba(0, 0, 0, 0.1)
  display: flex
  align-items: center
  justify-content: center

#title
  width: 50vw
  height: 10vw
  left: 25vw

  color: #503722
  font-size: 4vw
  font-weight: bold
  font-family: Georgia, 'Times New Roman', Times, serif

#settings
  width: 10vw
  height: 10vw
  right: 0

#alerts
  width: 75vw
  height: 4vw
  bottom: 4vw
  left: 12.5vw

  color: #ffffff
  font-weight: bold

.fieldExtraLeft,
.fieldExtraRight
  width: 22vw
  height: 4vw
  bottom: 10vw

.fieldExtraLeft
  left: 15vw

.fieldExtraRight
  right: 15vw

#fieldMy,
#fieldTheir
  position: absolute
  background-color: rgba(0, 0, 0, 0.1)
  width: 44vw
  height: 44vw
  top: 15vw

  overflow: hidden

#fieldMy
  left: 4vw

#fieldTheir
  right: 4vw

/* Ships */
.ship
  position: absolute
  width: 4.4vw
  height: 4.4vw
  background-color: rgba(0, 0, 255, 0.1)
  touch-action: none
  user-select: none
