/* Main styles */
$size-vertical: 100vh
$size-horizontal: $size-vertical * 1.333

body
  height: 100vh
  background: #f1f1f1 url('assets/bg-body.jpg') repeat 0 0

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50

  overflow: hidden
  width: $size-horizontal
  height: $size-vertical
  margin: auto
  position: relative
  background: #f1f1f1 url('assets/map-retro.svg') no-repeat 50% 100% / cover

#settings,
#alerts
  position: absolute
  background-color: rgba(0, 0, 0, 0.1)
  display: flex
  align-items: center
  justify-content: center  

#settings
  width: 10vw
  height: 10vw
  right: 0
  font-size: 5vw
  cursor: pointer

#alerts
  width: 80vw
  height: 6vw
  bottom: 2vw
  left: 10vw
  padding: 0 3vw 0 10vw
  color: #ffffff
  background-color: rgba(0, 0, 0, 0.3)
  border-radius: 1vw
  font-weight: bold
  line-height: 120%

#alerts:before
  position: absolute
  content: ''
  width: 10vw
  height: 10vw
  left: 0
  bottom: -2vw
  background: transparent url('assets/pirate-parrot.svg') no-repeat 100% 100% / cover

$field-width: 44vw

#fieldMy,
#fieldTheir
  position: absolute
  background-color: rgba(0, 0, 0, 0.1)
  width: $field-width
  height: $field-width
  bottom: 10vw

  overflow: hidden

#fieldMy
  left: 4vw

#fieldTheir
  right: 4vw

#go-button
  position: absolute
  width: 13vw
  height: 13vw
  right: 13vw
  top: 4vw
  margin-left: auto
  border-radius: 4vw
  background: rgba(0,138,13,0.6)
  color: #fff
  font-size: 5vw
  line-height: 13vw
  font-weight: bold
  cursor: pointer
  opacity: 1
  transition: all 0.35s linear
  
#go-button:hover,
#go-button:active
  background: rgba(0,138,13,0.9)

.placeShipsOne #go-button,
.placeShipsTwo #go-button
  display: none

.readyPlayerOne #go-button,
.readyPlayerTwo #go-button
  opacity: 0


/* Ships */
.ship
  position: absolute
  width: 10%
  height: 10%
  background-color: rgba(0, 0, 255, 0.1)
  touch-action: none
  user-select: none
  transition: all 0.25s ease-in-out

.ship-big.height
  background: transparent url('assets/ship-vertical-4.svg') no-repeat 50% 50% / cover

.ship-medium.height
  background: transparent url('assets/ship-vertical-3.svg') no-repeat 50% 50% / cover

.ship-small.height
  background: transparent url('assets/ship-vertical-2.svg') no-repeat 50% 50% / cover

.ship-big.width
  background: transparent url('assets/ship-horizontal-4.svg') no-repeat 50% 50% / cover

.ship-medium.width
  background: transparent url('assets/ship-horizontal-3.svg') no-repeat 50% 50% / cover

.ship-small.width
  background: transparent url('assets/ship-horizontal-2.svg') no-repeat 50% 50% / cover

.ship-tiny
  background: transparent url('assets/ship-1.svg') no-repeat 50% 50% / cover